   @model MvcApplication4.Models.Shop

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @using (Html.BeginForm("Add", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset>





            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">Product</h2>
                </div>

                <div class="col-md-7">
                    <form action="#" method="post">

                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_companyname" class="text-black">@Html.LabelFor(model => model.ProductID) </label>
                                    @Html.EditorFor(model => model.ProductID)

                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_companyname" class="text-black">@Html.LabelFor(model => model.Product_Name)</label>
                                    @Html.EditorFor(model => model.Product_Name)
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_companyname" class="text-black">@Html.LabelFor(model => model.Description)</label>
                                    @Html.EditorFor(model => model.Description)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="c_companyname" class="text-black">@Html.LabelFor(model => model.Price) </label>
                                @Html.EditorFor(model => model.Price)

                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })*@

                                <input type="file" id="f1" name="f1" required>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">

                                <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location = ''">Create</button>
                            </div>

                        </div>


                    </form>

                </div>
            </div>


</fieldset>
    }













        @*<center>
            <div class="col-md-7">

                <form action="#" method="post">

                    <center>
                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ProductID)
                                    @Html.EditorFor(model => model.ProductID)
                                    @Html.ValidationMessageFor(model => model.ProductID)
                                </div>
                            </div>




                            <div class="form-group row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Product_Name)
                                    @Html.EditorFor(model => model.Product_Name)
                                    @Html.ValidationMessageFor(model => model.Product_Name)


                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)


                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    @Html.LabelFor(model => model.Price)
                                    @Html.EditorFor(model => model.Price)
                                    @Html.ValidationMessageFor(model => model.Price)


                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input type="file" id="f1" name="f1" required>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </center>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create">
                </form>

            </div>
        </center>
    </fieldset>
    }



    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
























    