@model OnlinePrintingSolution.Models.PrinterReg

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PrinterReg</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrinterID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrinterID)
            @Html.ValidationMessageFor(model => model.PrinterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerName)
            @Html.ValidationMessageFor(model => model.OwnerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nic)
            @Html.ValidationMessageFor(model => model.Nic)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
